p {
  color: #ff7f50;
  font-size: 24px;
  font-weight: bold;
}

.bg {
  background-color: #90ee90;
  background-image: url("./images/cat.png");
}

.bg-image {
  width: 513px;
  height: 340px;
}

.bg-repeat {
  background-repeat: no-repeat;
  height: 540px;
}

.bg-size-cover {
  background-size: cover;
  height: 540px;
}

.bg-fixed {
  background-attachment: fixed;
  height: 540px;
}

.bg-position {
  height: 540px;
  background: #0000ff url("./images/cat.png") no-repeat right top;
}